/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import './materialize.scss';
@import url('https://fonts.googleapis.com/css?family=Crete+Round');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');



.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#app-title {
	color: #263238;
    background: #eceff1;
    padding: 2rem;
    text-align: center;
    font-size: 5rem;
    font-family: 'Lobster', cursive;
}

input:not([type]), input[type=text], textarea, button.btn, button, .btn, .password-input, .email-input, .username-input {
	font-size: 2rem !important;
}

button.btn{
	padding: 1rem 2rem;
	height: auto;
}

#game-type{
    font-size: 2rem !important;
    margin: .5rem;
    width: 6rem !important;
    height: 6rem !important;
}