/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import './materialize.scss';
@import url('https://fonts.googleapis.com/css?family=Crete+Round');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

html, body, .page-container{

    background: #263238;
}

#loading{
    max-width: 100%;
    line-height: 100vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 3.5rem;
    z-index: 3;

}

#sidenav-overlay{
    position: fixed;
    z-index: 2;
}

.nav-scrolled{
    top: 0;
    left: 0;
    text-align: center;
    max-width: 100%;
    width: 100%;
    position: fixed;    
    z-index: 3;
   
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

#app-title {
	color: #263238;
    background: #eceff1;
    padding-top: 6rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 5rem;
    font-family: 'Lobster', cursive;
    vertical-align: bottom;
}

input:not([type]), input[type=text], textarea, button.btn, button, .btn, .password-input, .email-input, .username-input {
	font-size: 2rem !important;
}

/* label underline focus color */
   .input-field input:focus {
     border-bottom: .2rem solid #fff !important;
     border-top: .2rem solid white;
     color: white;

   }

   .input-field input{
     color: white;

   }


button.btn, a.btn{
	padding: 1rem 2rem;
    margin: 1rem;
	height: auto;
    border-radius: 1rem;
    max-width: 100%;

}

.chip{
    height: auto;
    max-width: 100%;
    padding: .5rem !important;
    margin: .5rem !important;
    padding-left: 1rem !important;
    margin-top: .2rem !important;

}
 
#game-type{
    font-size: 2rem !important;
    margin: .5rem;
    width: 6rem !important;
    height: 6rem !important;
}