/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
$accent-color: #00838f;
$background-color: #263238;
$middle-color: #455a64;
@import './materialize.scss';
@import url('https://fonts.googleapis.com/css?family=Crete+Round');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

html, body, .page-container{

    background: #263238;
}

#loading{
    max-width: 100%;
    line-height: 100vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 3.5rem;
    z-index: 3;

}

#sidenav-overlay{
    position: fixed;
    z-index: 2;
}

.nav-scrolled{
    top: 0;
    left: 0;
    text-align: center;
    max-width: 100%;
    width: 100%;
    position: fixed;    
    z-index: 3;
   
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

#app-title {
	color: $background-color;
    background: #eceff1;
    padding-top: 6rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 5rem;
    font-family: 'Lobster', cursive;
    vertical-align: bottom;
}

input:not([type]), input[type=text], textarea, button.btn, button, .btn, .password-input, .email-input, .username-input {
	font-size: 2rem !important;
    color: white !important;
}

/* label underline focus color */
   .input-field input:focus {
     border-bottom: .2rem solid #fff !important;
     border-top: .2rem solid white;
     color: white;

   }

   .input-field input{
     color: white;

   }

input[type=checkbox]{
    color: white !important;
}

label[for]{
    color: white !important;
}


button.btn, a.btn, .button.green.accent-1, .btn.green.accent-1.green-text.flow-text, .card-content.waves-effect.waves-light.green.accent-1.green-text.btn{
	padding: 1rem 2rem;
    margin: 1rem;
	height: auto;
    border-radius: 1rem;
    max-width: 100%;
    background: $accent-color !important;
    color: white !important;
    background: $accent-color !important;

}

button#game-type.btn-floating{
    background: $accent-color !important;  
}

.chip, .chip.avatar{
    height: auto;
    max-width: 100%;
    padding: .5rem !important;
    margin: .5rem !important;
    padding-left: 1rem !important;
    margin-top: .2rem !important;
    background: $accent-color !important;
    color: white !important;

}

label{
    color: white !important;
}

.green-text{
    color: white !important;
}

.green.accent-2{

    background: #546e7a  !important;
}

.green.accent-3{
    background: #37474f  !important;
}

.green.accent-4{
    background: $middle-color !important;
}
 
#game-type{
    font-size: 2rem !important;
    margin: .5rem;
    width: 6rem !important;
    height: 6rem !important;
}

.checkbox-indigo[type="checkbox"] + label:before{
    border: 2px solid indigo;
    background: transparent;
    color: white !important;
}
.checkbox[type="checkbox"]:checked + label:before{
    border: 2px solid transparent;
    border-bottom: 2px solid white !important;
    border-right: 2px solid white !important;
    background: transparent;
    color: white !important;
}
.checkbox-indigo.filled-in[type="checkbox"] + label:after{
    border: 2px solid indigo;
    background: transparent;
    color: white !important;
}
.checkbox-indigo.filled-in[type="checkbox"]:checked + label:after{
    background: indigo;
    color: white !important;
}
.checkbox-indigo.filled-in[type="checkbox"]:checked + label:before{
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid white !important;
    border-bottom: 2px solid white !important;
    color: white !important;
}
input[type="checkbox"]:checked + label:before{

    border-right: 2px solid white !important;
    border-bottom: 2px solid white !important;
}
input[type="checkbox"]:not(.filled-in) + label:after{

    border: 2px solid white !important;
}